.page-DataSource {
  display: flex;
}

.page-DataSource-list {
  width: 280px;
  border-right: 1px solid var(--color-border);
  background-color: var(--color-surface);
  min-height: 100vh;
}

.page-DataSource-tableList {
  width: 260px;
}

.page-DataSource-tableSummary {
  flex: 1;
  height: 100vh;
  width: 0;
  overflow: auto;
}
