.QueryHeaderTitle {
  position: relative;
  width: 100%;
}

.QueryHeaderTitle-textarea {
  position: absolute;
  top: 0;
  left: 0;

  /* in order to center textarea.
     There might be more proper way to do this. */
  margin-top: 2px;

  font-weight: bold;
  font-size: 24px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-family: inherit;
  width: 100%;

  resize: none;
  word-break: break-all;
}

.QueryHeaderTitle-textarea:focus {
  border: 1px solid var(--color-border);
  border-width: 0 1px 1px 0;
}
