.ModalDialog {
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 400px;
  border-radius: 0;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-top: none;
  box-shadow: var(--color-shadow);
  outline: none;
}
