.QueryResult {
  overflow: auto;
  height: 100%;
}

.QueryResult-errorMessage {
  padding: 10px;
  font-size: 14px;
  color: var(--color-text);
  font-family: monaco, monospace;
  line-height: 1.6;
}
