.QueryResultTable-table {
  border-collapse: collapse;
  width: 100%;
}

.QueryResultTable-table th,
.QueryResultTable-table td {
  border-bottom: 1px solid var(--color-border);
  padding: 10px;
  font-size: 13px;
  color: var(--color-text);
}

.QueryResultTable-table th {
  text-align: left;
  font-weight: bold;
}

.QueryResultTable-table thead th {
  top: 46px; /* (height + border-bottom) of QueryResultNav */
  position: sticky;
  background-color: var(--color-table-header-bg);
}

/* Use pesudo class to protect from overlapping border */
.QueryResultTable-table thead th:after {
  border-bottom: 3px double var(--color-border);
  bottom: 0;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
}

.QueryResultTable-table td {
  white-space: pre;
  vertical-align: top;
}

.QueryResultTable-table tbody tr:hover {
  background-color: var(--color-table-hover-bg);
}

.QueryResultTable-null {
  color: var(--color-text-muted);
}

.QueryResultTable-listKey {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.QueryResultTable-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.QueryResultTable-list li::before {
  content: "-";
  display: inline-block;
  margin-right: 3px;
}

.QueryResultTable-list .QueryResultTable-list {
  margin-left: 20px;
}

.QueryResultTable-more {
  font-size: 13px;
  color: var(--color-text-muted);
  padding: 10px;
}
