.QueryResultTable-table {
  border-collapse: collapse;
  width: 100%;
}

.QueryResultTable-table th,
.QueryResultTable-table td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 13px;
}

.QueryResultTable-table th {
  text-align: left;
  font-weight: bold;
}

.QueryResultTable-table thead th {
  top: 46px; /* (height + border-bottom) of QueryResultNav */
  position: sticky;
  background-color: white;
}

/* Use pesudo class to protect from overlapping border */
.QueryResultTable-table thead th:after {
  border-bottom: 3px double #ccc;
  bottom: 0;
  width: 100%;
  content: "";
  position: absolute;
  left: 0;
}

.QueryResultTable-table td {
  white-space: pre;
  vertical-align: top;
}

.QueryResultTable-null {
  color: #999;
}

.QueryResultTable-listKey {
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.QueryResultTable-list {
  margin: 0;
  padding: 0;
}

.QueryResultTable-list .QueryResultTable-list {
  margin-left: 20px;
}

.QueryResultTable-more {
  font-size: 13px;
  color: #999;
  padding: 10px;
}
