.page-Setting {
  padding: 20px;
  overflow: auto;
  height: 100%;
}

.page-Setting-section1 {
  margin-bottom: 40px;
}

.page-Setting-section1 > h1 {
  font-size: 20px;
  color: var(--color-text);
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 5px;
  margin: 0 0 20px 0;
}

.page-Setting-section2 {
  margin-bottom: 20px;
}

.page-Setting-section2 > h2 {
  font-size: 15px;
  color: var(--color-text);
  font-weight: normal;
  margin: 0 0 10px 0;
}

.page-Setting-keyBind {
  width: 150px;
}

.page-Setting input[type="text"],
.page-Setting input[type="number"] {
  width: 300px;
  padding: 5px;
  outline: none;
}

.page-Setting-validateToken .ProgressIcon {
  margin-left: 10px;
}
