.Button {
  display: inline-block;
  padding: 3px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
  -webkit-user-select: none;
}
