.DataSourcePanel {
  display: flex;
}

.DataSourcePanel-dataSourceList {
  width: 280px;
  border-right: 1px solid #CCC;
  min-height: 100vh;
}

.DataSourcePanel-tableList {
  width: 260px;
}

.DataSourcePanel-tableSummary {
  flex: 1;
  height: 100vh;
  width: 0;
  overflow: auto;
}
