.DataSourceFormModal {
  padding: 20px 30px;
}

.DataSourceFormModal table {
  width: 100%;
  margin-bottom: 15px;
}

.DataSourceFormModal th {
  font-weight: normal;
  text-align: right;
  width: 80px;
}

.DataSourceFormModal th,
.DataSourceFormModal td {
  font-size: 14px;
  padding: 5px;
}

.DataSourceFormModal td input {
  padding: 3px 5px;
  width: 260px;
  font-size: 14px;
}

.DataSourceFormModal td select {
  border: 1px solid #DFDFDF;
  font-size: 14px;
  background-color: #FFF;
}

.DataSourceFormModal .DataSourceFormModal-connectionTest button,
.DataSourceFormModal .DataSourceFormModal-buttons button {
  transform: scale(1.2);
}

.DataSourceFormModal .DataSourceFormModal-connectionTest {
  position: absolute;
  margin-left: 20px;
}

.DataSourceFormModal .DataSourceFormModal-connectionTest .fa-check {
  color: #59bb0c;
}

.DataSourceFormModal .DataSourceFormModal-connectionTest .fa-close {
  color: #bb0c0c;
}

.DataSourceFormModal .DataSourceFormModal-connectionTest .fa-refresh {
  color: #999;
}

.DataSourceFormModal .DataSourceFormModal-connectionTest button {
  margin-right: 15px;
}

.DataSourceFormModal .DataSourceFormModal-buttons {
  margin-right: 25px;
  text-align: right;
}

.DataSourceFormModal .DataSourceFormModal-buttons button {
  margin: 0 8px;
}
