.QueryResult-tab {
  font-size: 15px;
  color: #666;
  padding: 0 5px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.QueryResult-tab > span {
  display: inline-block;
  padding: 6px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.QueryResult-tab > span:hover {
  background-color: #eaeaea;
}

.QueryResult-tab > span.is-selected::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background-color: #2673E8;
  bottom: -5px;
  left: -2px;
  border-radius: 3px 3px 0 0;
}

.QueryResult-tab .QueryResult-share {
  position: absolute;
  right: 20px;
  top: 6px;
}

.QueryResult-tab .QueryResult-shareBtn {
  display: inline-block;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
}

.QueryResult-tab .QueryResult-shareBtn:hover {
  background-color: #eaeaea;
}

.QueryResult-tab .QueryResult-shareFlyout {
  position: absolute;
  top: 28px;
  width: 180px;
  right: 0;
  border: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 4px;
  z-index: 1;
}

.QueryResult-tab .QueryResult-shareFlyout ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.QueryResult-tab .QueryResult-shareFlyout li {
  padding: 5px 8px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
}

.QueryResult-tab .QueryResult-shareFlyout li:hover {
  background-color: #EFEFEF;
}

.ChartBody {
  display: flex;
  padding: 10px;
}

.ChartEdit {
  width: 260px;
  padding-right: 15px;
}

.ChartEdit-row {
  margin-bottom: 15px;
}

.ChartEdit-label {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-bottom: 3px;
}

.ChartSelect {
  font-size: 14px;
}
.ChartSelect i {
  font-size: 12px;
  margin-right: 5px;
  width: 14px;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #666;
}

.Select-placeholder {
  font-size: 13px;
}

.ChartPreview {
  flex: 1;
  width: 0;
}

.QueryResult-errorMessage {
  padding: 10px;
  font-size: 14px;
  color: #333;
  font-family: monaco, monospace;
  line-height: 1.6;
}
