.page-app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.page-app-menu {
  width: 48px;
}

.page-app-main {
  flex: 1;
  width: 0;
}

.page-app.is-loading {
  display: block;
  padding-top: calc(50vh - 24px);
}

.page-app-loading {
  text-align: center;
  --LoadingIcon-font-size: 24px;
}
