.GlobalMenu {
  padding-top: 32px;
  height: 100vh;
  background-color: var(--color-menu-bg);
}

.GlobalMenu-item {
  display: block;
  color: var(--color-menu-text);
  text-align: center;
  padding: 10px 0;
  font-size: 28px;
  cursor: pointer;
  height: 42px;
  -webkit-app-region: no-drag;
}

.GlobalMenu-item:hover {
  background-color: var(--color-menu-hover-bg);
}

.GlobalMenu-item.is-selected {
  background-color: var(--color-menu-selected-bg);
}
