.ConnectionPanel {
  display: flex;
}

.ConnectionPanel-list {
  width: 280px;
  border-right: 1px solid #CCC;
  min-height: 100vh;
}

.ConnectionPanel-main {
  height: 100vh;
}

.ConnectionSetting {
  padding: 10px;
}

.ConnectionSetting h3 {
  margin: 10px 0 5px 0;
}

.ConnectionSetting-tables i {
  color: #BBA41D;
}

.ConnectionSetting-tables .is-view i {
  color: #4B89BB;
}
