.GlobalMenu {
  height: 100vh;
  background-color: #333;
}

.GlobalMenu-item {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 12px 0;
  font-size: 22px;
  cursor: pointer;
}

.GlobalMenu-item:hover {
  background-color: darken(#333, 5%);
}

.GlobalMenu-item.is-selected {
  background-color: lighten(#333, 10%);
}
