.QueryResult-tab {
  font-size: 15px;
  color: #666;
  padding: 0 5px;
  border-bottom: 1px solid #ccc;

  > span {
    display: inline-block;
    padding: 6px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: darken(#F7F7F7, 5%);
    }

    &.is-selected::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: #2673E8;
      bottom: -5px;
      left: -2px;
      border-radius: 3px 3px 0 0;
    }
  }
}

.ChartBody {
  display: flex;
  padding: 10px;
}

.ChartEdit {
  width: 260px;
}

.ChartEdit-row {
  margin-bottom: 15px;
}

.ChartEdit-label {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-bottom: 3px;
}

.ChartSelect {
  font-size: 14px;

  i {
    font-size: 12px;
    margin-right: 5px;
    width: 14px;
  }
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #666;
}

.Select-placeholder {
  font-size: 13px;
}

.ChartPreview {
  flex: 1;
  width: 0;
}

.QueryResult-errorMessage {
  padding: 10px;
  font-size: 14px;
  color: #333;
  font-family: monaco, monospace;
  line-height: 1.6;
}
