.QueryPanel {
  display: flex;
}

.QueryPanel-queryList {
  width: 280px;
  border-right: 1px solid #CCC;
  min-height: 100vh;
}

.QueryPanel-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 0;

  .QueryResult {
    flex: 1 1 auto;
    overflow: auto;
  }
}

.QueryPanel-main .QueryPanelHeader {
  z-index: 1;
}

.QueryPanel-main .SQLEditor {
  z-index: 0;
}
