.SettingPanel {
  padding: 10px;
}

.SettingPanel label {
  font-size: 13px;
  color: #666;
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

.SettingPanel-keyBind .Select {
  width: 100px;
}
