.SQLEditor {
  border-bottom: 1px solid #CCC;
  height: 45vh;
  max-height: calc(100vh - 48px);
}

.SQLEditor-ctrl {
  padding: 10px;
  background-color: #F7F7F7;
  position: relative;
}

.SQLEditor-status {
  display: inline-block;
  margin-left: 5px;
}

.SQLEditor-status > span {
  color: #999;
  display: inline-block;
  font-size: 13px;
  margin: 0 5px;
}

.SQLEditor-status .fa-check {
  color: #59bb0c;
  font-size: 14px;
}

.SQLEditor-status .fa-close {
  color: #bb0c0c;
  font-size: 14px;
}

.SQLEditor-status .fa-working {
  color: #999;
  font-size: 14px;
}

.SQLEditor-status.is-error span {
  color: #bb0c0c;
}

.SQLEditor-resize {
  position: absolute;
  right: 18px;
  top: 14px;
  display: inline-block;
  color: #999;
  cursor: row-resize;
}
