.TableSummary {
}

.TableSummary table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

.TableSummary table th,
.TableSummary table td, {
  text-align: left;
  border-bottom: 1px solid #CCC;
  padding: 10px 5px;
}

.TableSummary table th {
  border-bottom: 3px double #CCC;
}
