.DataSourceList {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.DataSourceList-new {
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid var(--color-border);
}

.DataSourceList-new.darwin {
  -webkit-app-region: drag;
}

.DataSourceList-new i {
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.DataSourceList > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1 1 auto;
  overflow-y: auto;
}

.DataSourceList > ul > li {
  margin: 0;
  padding: 15px 10px;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text);
  box-sizing: border-box;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.DataSourceList > ul > li.is-selected {
  background-color: var(--color-accent);
  color: var(--color-accent-contrast);
}

.DataSourceList-list {
  user-select: none;
}
