.QueryResultChart {
  display: flex;
  padding: 10px;
}

.QueryResultChart-edit {
  width: 260px;
  padding-right: 15px;
}

.QueryResultChart-item {
  margin-bottom: 15px;
}

.QueryResultChart-label {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-bottom: 3px;
}

.QueryResultChart-selectType {
  font-size: 14px;
}

.QueryResultChart-selectType i {
  font-size: 12px;
  margin-right: 5px;
  width: 14px;
}

.QueryResultChart-selectType img.scatter {
  width: 14px;
  margin-right: 5px;
}

.QueryResultChart .has-value.Select--single > .Select-control .Select-value .Select-value-label,
.QueryResultChart .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #666;
}

.QueryResultChart .Select-placeholder {
  font-size: 13px;
}

.QueryResultChart-chart {
  flex: 1;
  width: 0;
}
