.Editor {
  flex-basis: auto;
}

.Editor .CodeMirror {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, "RictyDiminished", monospace;
  font-size: 13px;
  line-height: 1.4;
}
