.TableSummary {
  padding: 10px;
}

.TableSummary-name {
  font-size: 20px;
  margin: 10px 0 20px;
}

.TableSummary table {
  font-size: 14px;
  border-collapse: collapse;
  width: 100%;
}

.TableSummary table th,
.TableSummary table td {
  text-align: left;
  border-bottom: 1px solid var(--color-border);
  padding: 10px 5px;
  white-space: pre;
}

.TableSummary table th {
  border-bottom: 3px double var(--color-border);
}
