.ProgressIcon {
  font-size: 14px;
  --LoadingIcon-font-size: 14px;
}

.ProgressIcon.is-success {
  color: var(--color-success);
}

.ProgressIcon.is-failure {
  color: var(--color-danger);
}

.ProgressIcon-icon {
  display: inline-block;
}

.ProgressIcon-message {
  display: inline-block;
  margin-left: 5px;
}
