$fa-font-path: "../../../../node_modules/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';
@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/monokai';
@import './functions/*';
@import './components/*';
