.page-Query {
  display: flex;
  --page-Query-headerHeight: 48px;
}

.page-Query-splitter-layout {
  position: static;
  z-index: 0;
}

.page-Query-list {
  width: 280px;
  border-right: 1px solid #ccc;
  min-height: 100vh;
}

.page-Query-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 0;
}

.page-Query-main .QueryResult {
  flex: 1 1 auto;
}

.page-Query-main .QueryHeader {
  z-index: 1;
  height: var(--page-Query-headerHeight);
}
