.TableList {
  background-color: #f7f7f7;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid #ccc;
}

.TableList-filter {
  padding: 10px 5px;
  position: relative;
}

.TableList-filter:before {
  content: "\f002";
  font-family: "FontAwesome";
  display: inline-block;
  position: absolute;
  left: 14px;
  top: 16px;
  color: #999;
  font-size: 12px;
}

.TableList-filter input[type="search"] {
  border-radius: 15px;
  width: 100%;
  padding: 3px 15px 3px 26px;
  border: 1px solid #d0d0d0;
  font-size: 12px;
  color: #666;
  outline: none;
}

.TableList > ul {
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
}

.TableList > ul > li {
  padding: 5px 8px;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.TableList > ul > li:hover {
  background-color: #efefef;
}

.TableList > ul > li.is-selected {
  background-color: #2673e8;
  color: #fff;
}

.TableList > ul > li.is-selected > i {
  color: #e2ce57;
}

.TableList > ul > li.is-selected.is-view > i {
  color: #b7dfff;
}

.TableList > ul > li > i {
  color: #bba41d;
}

.TableList > ul > li.is-view > i {
  color: #4b89bb;
}
